# -------------------------------
encrypted_seed.txt

# -------------------------------
# Python cache files
# -------------------------------
_pycache_/
*.pyc
*.pyo

# -------------------------------
# Environment / config files
# -------------------------------
.env

# -------------------------------
# IDE / Editor files
# -------------------------------
.vscode/
.idea/